In [104]:
#import dependencies

import numpy as np
import pandas as pd

In [105]:
#import the csv for analysis 
#reading it in as a dataframe 
# getting the head to examine the columns and rows

csv_path = "Resources/purchase_data.csv"
df = pd.read_csv(csv_path)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [106]:
# Getting a list of the unique player names. 

unique_players = df["SN"].unique()

In [107]:
# Counting the total number of players in the list of unique names for total player count

total_players = len(unique_players)
total_players

576

In [108]:
# Getting a list of the unique items by item name

unique_items = df["Item Name"].unique()

In [109]:
# Total number of unique items
total_unique_items = len(unique_items)

In [127]:
#Average Purchase Price

avg_purchase_price = df["Price"].mean()

In [111]:
# Total Purchases By Counting the Number of Purchase IDs

total_purchases = df["Purchase ID"].count()
total_purchases

780

In [112]:
# Total Revenue Retrieved by summing the purchase price column

total_revenue = df["Price"].sum()
total_revenue

2379.77

In [132]:
#Putting Together First Dataframe
df_1 = {"Total Players": [total_players],
          "Number of Unique Items": [total_unique_items],
          "Average Purchase Price": [avg_purchase_price],
          "Total Number of Purchases": [total_purchases],
          "Total Revenue": [total_revenue]}
df_1 = pd.DataFrame(df_1)

In [133]:
#Printing out first dataframe with Player Count and Purchasing Analysis (Total)
df_1

,Total Players,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,576,179,3.050987,780,2379.77

In [113]:
# Grabbing data of only players identifying as male
only_male = df.loc[df["Gender"] == "Male", :]
only_male.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [114]:
# Grabbing data of only players identifying as female
only_female = df.loc[df["Gender"] == "Female", :]
only_female.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [115]:
only_other = df.loc[df["Gender"] == "Other / Non-Disclosed", :]
only_other.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [116]:
#Grabbing unique names of the players in each of the Gender categories

unique_male = only_male["SN"].unique()
unique_female = only_female["SN"].unique()
unique_other = only_other["SN"].unique()

In [117]:
# Grabbing total of the unique names in each gender category to get the total unique players in each category

total_male = len(unique_male)
total_female = len(unique_female)
total_other = len(unique_other)

In [118]:
# Printing total players by gender
print(total_male)
print(total_female)
print(total_other)

484
81
11

In [119]:
# Calcuating the percentage of players by gender
percentage_male = (total_male / total_players) * 100
percentage_female = (total_female / total_players) * 100
percentage_other = (total_other / total_players) * 100

In [120]:
# Printing percentage of players by gender
print(percentage_male)
print(percentage_female)
print(percentage_other)

84.02777777777779
14.0625
1.9097222222222223

In [121]:
only_male.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [122]:
#Grabbing and printing total purchases by gender

only_male_purchases = only_male["Purchase ID"].count()
only_female_purchases = only_female["Purchase ID"].count()
only_other_purchases = only_other["Purchase ID"].count()

print(only_male_purchases)
print(only_female_purchases)
print(only_other_purchases)

652
113
15

In [123]:
#Calculating and printing average purchse price by gender

male_average_purchase = only_male["Price"].mean()
female_average_purchase = only_female["Price"].mean()
other_average_purchase = only_other["Price"].mean()

print(male_average_purchase)
print(female_average_purchase)
print(other_average_purchase)

3.0178527607361953
3.203008849557519
3.3460000000000005

In [124]:
#Calculating and printing the total purchase value by gender
male_total_purchase = only_male["Price"].sum()
female_total_purchase = only_female["Price"].sum()
other_total_purchase = only_other["Price"].sum()

print(male_total_purchase)
print(female_total_purchase)
print(other_total_purchase)

1967.64
361.94
50.19

In [96]:
#Calcualting and printing average purchase total per person by gender

print(male_total_purchase / total_male)
print(female_total_purchase / total_female)
print(other_total_purchase / total_other)

4.065371900826446
4.468395061728395
4.5627272727272725

In [146]:
gender_demo_df = {"Pecentage of Male Players": [percentage_male],
                 "Count of Male Players": [total_male],
                 "Percentage of Female Players": [percentage_female],
                 "Count of Female Players": [total_female],
                 "Percentage of Other Players": [percentage_other],
                 "Count of Other Players": [total_other]}
gender_demo_df = pd.DataFrame(gender_demo_df)

In [147]:
gender_demo_df

,Pecentage of Male Players,Count of Male Players,Percentage of Female Players,Count of Female Players,Percentage of Other Players,Count of Other Players
0,84.027778,484,14.0625,81,1.909722,11